<article id="recipes-index">
  <%= image_tag("nikujaga.svg", :alt => "nikujaga")%>
  <h1>にくじゃが</h1>
  <section class="source">
    <h2 class="source-title">食材（1人分）</h2>
    <ul>
      <li>
        <span class="name">牛肉</span>
        <span class="amount">1g</span>
      </li>
      <li>
        <span class="name">牛肉</span>
        <span class="amount">1g</span>
      </li>
    </ul>
  </section>
  <section class="recipes">
    <h2 class="recipes-title">レシピ</h2>
    <ul>
      <li>がんばる</li>
      <li>ふぁいと</li>
    </ul>
  </section>
</article>