// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "config";

@mixin tile-title (){

}

// スマホ
@include min-screen() {
  #top {
    .top-title-img {
      background-image: url("../assets/top_content.svg");
      margin: 0 20px;
      border: 5px solid $orange;
      border-radius: $tile-radius;
      .top-title-contents {
        position: relative;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 3px;
        border-radius: $tile-radius;

        img {
          position: absolute;
          right: 50px;
          bottom: 46px;
        }

        h1 {
          font-weight: bold;
          text-align: left;
          color: $white;
        }

        .search-button {
          letter-spacing: 4px;
          font-size: 20px;
          font-weight: bolder;
          display: block;
          @include button($orange);
          width: 60%;
          margin: 20px auto;
        }
      }
    }
    .change-search-top {
      border: 5px solid $orange;
      border-radius: $tile-radius;
      height: 100%;
      padding: 10px;
      margin: 0 20px;
      > div{
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
      .top-tag{
        display: flex;
        flex-direction: row;
        width: 75%;
        margin: 10px auto;
        > span {
          border: 1px solid $orange;
          border-radius: 10px;
          margin: 5px;
          padding:3px;
          font-size: 13px;
          width: 30%;
          text-align: center;
        }
      }
      button{
        @include button();
        border: none;
        margin: 0 auto;
        width: 75%;
      }
    }
    .contents{
      margin: 20px 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;

      .cho-icon{
        position:absolute;
      }
      .tile {
        margin: 5px;
        width: 150px;
        height: 200px;
        background-color: $white;
        border-radius: $tile-radius;
        box-shadow: 0 5px 10px 5px $grey;
        img{
          max-width: 100%;
          border-radius: 10px 10px 0 0;
        }
        p{
          padding: 3px;
        }
      }
      .do-not-select{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5px;
        width: 150px;
        height: 200px;
        color: $white;
        background-color: $orange;
        border-radius: $tile-radius;
        box-shadow: 0 5px 10px 5px $grey;
        > p {
          font-weight: bold;
          font-size: 20px;
        }
        :after {
          position: absolute;
          height: 95%;
          width: 95%;
          background-color:$white;
        }
      }
    }
  }

  #recipes-index {
    text-align: center;
    margin: 0 30px;

    img {
      width: 100%;
      height: 100%;
    }
    h1 {
      margin: 40px 0;
    }
    .source {
      background-color: $light-orange;
      padding: 40px;
      .name {
        display: inline-block;
        text-align: left;
        width: 40%;
        padding-left: 15px;
      }
      .amount {
        display:inline-block;
        width: 40%;
      }
    }
    .recipes {
      padding: 40px;
      li {
        text-align: left;
      }
    }
  }
}

// PC
@include max-screen(){}
